html, body {
	background: #000000;
	color: #bebebe;

	font-family: monospace !important;
	font-size: 1em !important;
}

a {
	color: #ffffff;
	border-bottom: 1px solid #b21818;
	font-weight: bold;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6  {
	color: #ffffff !important;
	font-size: inherit !important;
}

pre, pre code, kbd, samp {
	font-family: monospace !important;
	font-size: 1em !important;

  background: #0a0a0a !important;
  border: none;
}

code {
  border-bottom: 1px solid #b21818;
}

menu, ol, ul {
  padding: 0 0 0 20px !important;
}

#container {
	position: relative;

	width: 50em;
	width: 80ch;
	margin: 40px auto;
	border: 1px solid #b21818;
  overflow: hidden;

	padding: 5px;
  padding-bottom: 0px;
}

#container .date {
	float: right;
}

#container .bracket {
	font-weight: normal;
	color: #b21818;
}

#container center.section {
  font-weight: bold;
  color: #ffffff;
  position: relative;
  top: 5px;
}

#container hr {
  border: 0;
  color: #b21818;
  background-color: #b21818;
  height: 1px;
  width: 95%;
  text-align: left;
}

#container hr:last-child {
  display: none;
}

#container hr.menu-bottom {
  width: 200%;
  position: relative;
  left: -5px;
  margin-top: 4px !important;
}

#menu {
	width: 100%;
}

#menu a {
	color: #ffffff;
	border-bottom: 0;
	font-weight: bold;
	text-decoration: none;
}

/* intense debate */
#idc-container-parent #idc-container {
  max-width: 100% !important;
  min-width: 100% !important;
  width: 100% !important;
  border-top: 1px solid #b21818;
  padding-top: 10px;
}

#idc-container-parent #idc-container textarea, #idc-container-parent #idc-container input {
	background: #000000 !important;
	color: #bebebe !important;
	border: 1px solid #b21818 !important;
	border-radius: 0 !important;
	font-family: monospace !important;
}

#idc-container-parent #idc-container .idc-focus {
	border-color: #b21818 !important;
}

#idc-container-parent #idc-container .idc-foot {
  display: none;
}

#idc-container-parent #idc-container .idc-new {
  margin: 0 !important;
}
