html, body {
	background: #000000;
	color: #bebebe;

	font-family: "GohuFont", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
	font-size: 11px !important;
}

a {
	color: #ffffff;
	border-bottom: 1px solid #b21818;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	border: none;
}

h1, h2, h3, h4, h5, h6  {
	color: #ffffff !important;
	font-size: inherit !important;
}

pre, pre code, kbd, samp {
	font-family: "GohuFont", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
	font-size: 11px !important;

	background: #0a0a0a !important;
	border: none;
}

blockquote {
	padding-left: 0.5em;
	margin-left: 0.5em;
	border-left: 1px dashed #b21818;
}

pre {
	padding: 5px 0;

	border: 1px dashed #b21818;
	border-left: none;
	border-right: none;
}

pre.no-decorations {
	background: none !important;
	border: none;
}

code {
	border-bottom: 1px solid #b21818;
	color: white;
}

menu, ol, ul {
	padding: 0 0 0 20px !important;
}

#container {
	position: relative;

	width: 80ch;
	margin: 40px auto;
	border: 1px solid #b21818;
	overflow: hidden;

	padding: 5px;
	padding-bottom: 0px;
}

#container .post img {
	width: 100% !important;
}

#container .post .date {
	float: right;
}

#container .bracket {
	font-weight: normal;
	color: #b21818;
}

#container center.section {
	font-weight: bold;
	color: #ffffff;
	position: relative;
	top: 5px;
}

#container hr {
	border: 0;
	color: #b21818;
	background-color: #b21818;
	height: 1px;
	width: 100%;
	text-align: left;
}

#container hr:last-child {
	display: none;
}

#container hr.menu-bottom {
	width: 200%;
	position: relative;
	left: -5px;
	margin-top: 4px !important;
}

#menu {
	width: 100%;
}

#menu a {
	color: #ffffff;
	border-bottom: 0;
	font-weight: bold;
	text-decoration: none;
}

del {
	background: #fff;
	color: #fff;
	text-decoration: none;
}

del:hover {
	color: #b21818;
	text-decoration: none;
}

.modal {
	background: black;
	color: white;

	position: fixed;
	left: 0;
	right: 0;
	top: 0;

	border: 1px solid #b21818;
	border-top: none;
	border-bottom: none;

	width: 80ch;
	height: 100vh;

	margin: 0 auto;
	padding: 5px;

	text-align: center;
}

.modal .header {
	margin-top: 10px;

	text-align: center;
	font-weight: bold;
	color: red;
}

.modal .message {
	padding: 5px;
}

.modal .button {
	display: inline-block;
	border: 1px solid #b21818;

	font-weight: bold;
	margin-top: 10px;

	padding: 5px;

	cursor: pointer;
}

#posts {
	margin-bottom: .5em;
}

#posts .post .more {
	width: 100%;
	text-align: right;
}

#posts .post .more > a {
	color: #686868 !important;
	font-weight: normal;
	font-style: italic;
	border-bottom: none;
}

#comments {
	border-top: 1px solid #b21818;
}

#comments .comment {
	display: flex;
	align-items: baseline;
	margin-top: 1em;
}

#comments .comment .avatar {
	display: none;
}

#comments .comment .date {
	color: #686868;
	white-space: nowrap;
}

#comments .comment > div {
	margin-right: 0.5em;
}

#comments .comment .name {
	white-space: nowrap;
}

#comments .comment .name:after {
	color: #b21818;
	content: ">";
	margin-left: 0.5em;
}

#comments .comment .name.OWNER a {
	display: none;
}

#comments .comment .name.OWNER:after {
	content: "<";
	color: #fff;
	margin: 0;
}

#comments .comment .content *:first-child {
	margin-top: 0;
}

#comments .comment .content *:last-child {
	margin-bottom: 0;
}

#comments .add-comment {
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: right;
}

#comments .add-comment a {
	color: #686868;
	border: none;
}

#comments .add-comment a:hover {
	border-bottom: 1px solid #b21818;
}
