html, body {
	background: #000000;
	color: #bebebe;

	font-family: monospace;
	font-size: 1em;
}

a {
	color: #ffffff;
	border-bottom: 1px solid #b21818;
	font-weight: bold;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6  {
	color: #ffffff !important;
	font-size: inherit !important;
}

pre, code {
	font-family: monospace;
	font-size: 1em;
}

#container {
	position: relative;

	width: 50em;
	width: 80ch;
	margin: 40px auto;
	border: 1px solid #b21818;

	padding: 5px;
	padding-bottom: 25px;
}

#container .date {
	float: right;
}

#container .bracket {
	font-weight: normal;
	color: #b21818;
}

#container hr {
  border: 0;
  color: #b21818;
  background-color: #b21818;
  height: 1px;
  width: 100%;
  text-align: left;
}

#container hr:last-child {
  display: none;
}

#menu {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;

	text-align: center;
	padding-bottom: 2px;
}

#menu a {
	color: #ffffff;
	border-bottom: 0;
	font-weight: bold;
	text-decoration: none;
}

#menu a:before {
	color: #b21818;
	content: "[";
	font-weight: normal;
}

#menu a:after {
	color: #b21818;
	content: "]";
	font-weight: normal;
}

#idc-container-parent #idc-container {
	width: 51em !important;
	width: 82ch !important;
	margin: 0 auto !important;
}

#idc-container-parent #idc-container textarea, #idc-container-parent #idc-container input {
	background: #000000 !important;
	color: #bebebe !important;
	border: 1px solid #b21818 !important;
	border-radius: 0 !important;
	font-family: monospace !important;
}

#idc-container-parent #idc-container .idc-focus {
	border-color: #b21818 !important;
}
