<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE configuration [
    <!ELEMENT configuration ANY>
]>

<configuration domain="core">
    <refreshEvery>360</refreshEvery>
    <siteTitle>meh.</siteTitle>
    <homePage>#blog</homePage>

    <loadingMessage><![CDATA[<center>Loading...</center>]]></loadingMessage>

    <theme>Zen</theme>

    <style><![CDATA[
        .blog .older {
            position: fixed;
            top: 65px;
            right: 5px;

            font-size: 10px;
            text-transform: uppercase;
        }

        #paper {
            padding-top: 8px !important;
        }

        #paper #license {
            top: 61px !important;
            bottom: auto !important;
            border-top: 0 !important;
            border-bottom: 1px solid #EEEEEE !important;
            text-align: center;
        }
    ]]></style>

    <message>
        <text>meh.</text>
        <fade>0.5</fade>
    </message>

    <page>
        <fade>0.5</fade>
    </page>
</configuration>
