<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE configuration [
    <!ELEMENT configuration ANY>
]>

<configuration domain="core">
    <refreshEvery>360</refreshEvery>
    <siteTitle>meh.</siteTitle>
    <homePage>#blog</homePage>

    <loadingMessage><![CDATA[<center>Loading...</center>]]></loadingMessage>

    <theme>Zen</theme>

    <style><![CDATA[
        .blog .older {
            position: fixed;
            bottom: 2px;
            right: 5px;
        }
    ]]></style>

    <initialization><![CDATA[
        Event.stopObserving(document, ":go", miniLOL.tmp.fixScroll);

        Event.observe(document, ":go", function () {
            $(document.body).scrollTo();
        });
    ]]></initialization>
</configuration>
