<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE configuration [
    <!ELEMENT configuration ANY>
    <!ATTLIST configuration
        domain CDATA #REQUIRED
    >
]>

<configuration domain="Static">
    <meta>
        <keywords>cms, javascript cms, ajax cms, js cms</keywords>
        <description>miniLOL is an awesome Javascript/XML modular CMS.</description>
    </meta>

    <favicon></favicon>

    <!-- If you want to disable completely the JS part of miniLOL set this to true -->
    <alwaysOn>false</alwaysOn>
</configuration>
