<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        {% if page.lang %}
          <meta http-equiv="content-language" content="{{ page.lang }}">
        {% endif %}

        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

        <link rel="icon" type="image/png" href="/favicon.gif" />
    </head>

    <body>
        <div id="container">
            <div id="content">
                <div class="types">
                    {% if page.stub %}
                        {% include stub.html %}
                    {% endif %}
                </div>

                {{ content }}
            </div>

            <div id="menu">
              <a href="/">~/</a>
              <a href="/archive.html">~/words</a>
              <a href="/projects.html">~/projects</a>
            </div>
        </div>

        {% if page.comments %}
          <script>
          var idcomments_acct = '271f1129241a34fd651d24a100e2cfc4';
          var idcomments_post_id = "{{ page.url }}";
          var idcomments_post_url = "http://meh.paranoid.pk{{ page.url }}";
          </script>
          <span id="IDCommentsPostTitle" style="display:none"></span>
          <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
        {% endif %}
    </body>
</html>
