<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    {% if page.lang %}
      <meta http-equiv="content-language" content="{{ page.lang }}">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" href="/rss.xml"/>

    <link rel="icon" type="image/png" href="/favicon.gif" />

    <script src="/js/cash.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/tmpl.min.js"></script>
    <script src="/js/comments.js"></script>
    <script src="/js/trigger.js"></script>

    {% raw %}
    <script type="text/x-tmpl" id="template-comments">
      <div id="comments">
        <div class="container"></div>

        <div class="add-comment">
          <a href="https://github.com/meh/meh.github.io/issues/{%= o.issue %}" target="_blank">Add a comment</a>
        </div>
      </div>
    </script>
    {% endraw %}

    {% raw %}
    <script type="text/x-tmpl" id="template-comment">
      <div class="comment">
        <div class="date">{%= o.created_at.replace(/T/, " ").replace(/Z/, "") %}</div>
        <div class="avatar"><img src="{%# o.user.avatar_url %}" /></div>
        <div class="name {%= o.author_association %}"><a href="{%= o.user.html_url %}">{%= o.user.login %}</a></div>
        <div class="content">{%# o.body_html %}</div>
      </div>
    </script>
    {% endraw %}

    {% if page.trigger %}
      <script>
        $(document).ready(function() {
          trigger({
            {% for trigger in page.trigger %}
              "{{trigger[0]}}": "{{trigger[1]}}",
            {% endfor %}
          });
        });
      </script>
    {% endif %}

    {% if page.comments %}
      <script>
        $(document).ready(function() {
          comments({{ page.comments }}).then(function(el) {
            el.appendTo($('#container'));
          });
        });
      </script>
    {% endif %}

    {% raw %}
      <script>
        $(document).ready(function() {
          $(document.links)
            .filter(function() { return this.hostname != window.location.hostname; })
            .attr('target', '_blank')
            .attr('rel', 'noopener noreferrer');
        });
      </script>
    {% endraw %}
  </head>

  <body>
    <div id="container">
      <div id="menu"><center>
        {% if layout.menu %}
          {% for link in layout.menu %}
            <span class="bracket">[</span><a href="{{ link.url }}">{{ link.text }}</a><span class="bracket">]</span>
          {% endfor %}
        {% else %}
          <span class="bracket">[</span><a href="/">cat words/*(ocmM-42[0,5])</a><span class="bracket">]</span>
          <span class="bracket">[</span><a href="/projects">cd projects</a><span class="bracket">]</span>
          <span class="bracket">[</span><a href="/random">cd random</a><span class="bracket">]</span>
          <span class="bracket">[</span><a href="/whereis">whereis meh</a><span class="bracket">]</span>
        {% endif %}
      </center></div>

      <hr class="menu-bottom"/>

      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
