<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        {% if page.lang %}
          <meta http-equiv="content-language" content="{{ page.lang }}">
        {% endif %}

        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

        <link rel="alternate" type="application/rss+xml" href="/rss.xml"/>

        <link rel="icon" type="image/png" href="/favicon.gif" />
    </head>

    <body>
        <div id="container">
            <div id="content">
                {{ content }}
            </div>

            {% if page.comments %}
              <script>
              var idcomments_acct = '271f1129241a34fd651d24a100e2cfc4';
              var idcomments_post_id = "{{ page.url }}";
              var idcomments_post_url = "http://meh.paranoid.pk{{ page.url }}";
              </script>
              <span id="IDCommentsPostTitle" style="display:none"></span>
              <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
            {% endif %}

            <div id="menu">
              {% if page.url == "/index.html" %}
                <span class="bracket">[</span><a href="/archive.html">ls -lh ~/words</a><span class="bracket">]</span>
              {% else %}
                <span class="bracket">[</span><a href="/">cat ~/words/*(ocmM-42[0,5])</a><span class="bracket">]</span>
              {% endif %}

              <span class="bracket">[</span><a href="/projects.html">cat ~/projects/*</a><span class="bracket">]</span>
              <span class="bracket">[</span><a href="/whereis.html">whereis meh</a><span class="bracket">]</span>
              <span class="bracket">[</span><a href="/copying.html">cat COPYING</a><span class="bracket">]</span>
            </div>
        </div>
    </body>
</html>
